@import "../themes/theme.scss";

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: radial-gradient($bg-light, $bg-primary);
    background-color: $bg-secondary;
    color: $text-primary;
    font-size: 16px;
}