@import "../themes/theme.scss";

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: $bg-primary;
    color: $text-primary;
    font-size: 18px;
}