@import "../themes/theme.scss";
@import "./common.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 16px 0px;
  font-size: 14px;
  border-radius: 5px;
}

input[type="text"]{
  width: 100%;
  padding: 8px 0px;
  text-indent: 8px;
  outline: none;
  color: $text-secondary;
  background-color: $bg-light;
  border: 2px solid $bg-light;
  font-family: sans-serif;
}

input[type="text"]:hover{
  border: 2px solid $bg-extra-light;
}

input[type="text"]:focus{
  border: 2px solid $text-secondary;
}

input[type="range"]{
  width: 100%;
  accent-color: $green-primary;
}


input[type="submit"]{
  @extend .button;
}

.option {
  width: 90%;
}

.optionText {
  color: $text-secondary;
  text-align: left;
}

.botlist {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 372px);
  gap: 12px;
  justify-content: center;
  margin: 24px auto 16px auto;
}

.botlist-item {
  border-radius: 5px;
  padding: 12px;
  background-color: $bg-light;
  color: $text-secondary;
  display: flex;
  flex-direction: column;
}