@import "../themes/theme.scss";

.footer {
    background-color: $bg-secondary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-bottom: 0px;
}

.footer-text {
    margin: 8px;
    color: $text-secondary;
    font-size: 14px;
}

.logo {
    height: 32px;
    margin: 8px;
    cursor: pointer;
}