@import "../themes/theme.scss";

.header {
    position: sticky;
    width: 100%;
    background-color: $bg-secondary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logout {
    top: 0;
    margin: 16px;
    position: fixed;
    right: 0;
}