@import "../themes/theme.scss";
@import "@fontsource/plus-jakarta-sans";
@import "@fontsource/plus-jakarta-sans/800.css"; 

.haip-text {
  display: flex;
  flex-direction: column;
  margin: 24px auto 48px auto;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.subtext {
  font-size: 48px;
  color: $text-primary;
  font-family: 'Plus Jakarta sans', sans-serif;
  font-weight: 800;
  letter-spacing: 4px;
  cursor: default;
}

.fade {
  font-size: 96px;
  animation: fade-in-out linear infinite 8s;
  margin-bottom: 8px;
  font-family: 800;
  text-shadow: 
    0 0 4px $green-light,
    0 0 8px $green-primary,
    0 0 16px $green-secondary,
    0 0 32px $green-dark;
  font-family: 'Plus Jakarta Sans', sans-serif;
  letter-spacing: 6px;
  color: $text-primary;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.haip-info {
  width: 90%;
  margin: auto;
  margin-bottom: 24px;
  line-height: 24px;
}
