@import "../themes/theme.scss";

.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 186px);
    gap: 12px;
    justify-content: center;
    margin-bottom: 24px;
}

.list-item {
    border-radius: 5px;
    padding: 12px;
    background-color: $bg-light;
    color: $text-secondary;
    display: flex;
    flex-direction: column;
}

.list-item:hover {
    background-color: $bg-extra-light;
    color: $text-primary;
}

.list-item-name{
    margin-top: 12px;
}

.list-item-image {
    aspect-ratio : 1 / 1;
    width: 100%;
    background-color: $bg-primary;
    border-radius: 5px;
}