@import "../themes/theme.scss";

.menu-toggler {
    position: absolute;
    top: 0;
    margin: 16px;
    cursor: pointer;
}

.sidebar {
    background-color: $bg-secondary;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    transition: 850ms;
}

.sidebar.open {
    left: 0;
    transition: 350ms;
}

.sidebar .menu-item {
    margin: 8px 16px;
    cursor: pointer;
}

.menu-link {
    color: $text-secondary;
    line-height: 24px;

    &:hover,
    &:focus {
        color: $text-primary;
    }
}



