$text-primary: #ffffff;
// $text-secondary: #a7a7a7;
$text-secondary: #bbbaba;

$green-primary: #1db954;
$green-secondary: #1ed760;
$green-dark: #0e5c2a;

$bg-primary: #191414;
// $bg-primary: #2f2b2b;
$bg-secondary: #000000;
// $bg-light: #1f1a1a;
$bg-light: #353030;
$bg-extra-light: #787575;

$red-primary: #e63946;
$red-secondary: #b82741;